@keyframes ldio-ddlcmvc1bei {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-ddlcmvc1bei div {
  box-sizing: border-box !important;
}
.ldio-ddlcmvc1bei > div {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 83px;
  left: 83px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #07a1bf transparent #07a1bf transparent;
  animation: ldio-ddlcmvc1bei 1s linear infinite;
}
.ldio-ddlcmvc1bei > div:nth-child(2) {
  border-color: transparent;
}
.ldio-ddlcmvc1bei > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-ddlcmvc1bei > div:nth-child(2) div:before,
.ldio-ddlcmvc1bei > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  top: -2px;
  left: 14px;
  background: #07a1bf;
  border-radius: 50%;
  box-shadow: 0 32px 0 0 #07a1bf;
}
.ldio-ddlcmvc1bei > div:nth-child(2) div:after {
  left: -2px;
  top: 14px;
  box-shadow: 32px 0 0 0 #07a1bf;
}
.loadingio-spinner-dual-ring-2ckpb1eqrve {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-ddlcmvc1bei {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ddlcmvc1bei div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
